[submodule "Extensions/Mobsf_modules"]
	path = Extensions/Mobsf_modules
	url = https://github.com/Arenash13/Mobsf_modules
[submodule "StaticAnalyzer/test_files"]
	path = StaticAnalyzer/test_files
	url = https://github.com/MobSF/test_files.git
