{% load static %}
<a id="{{custom.title}}" class="anchor"></a>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <p>
                            <strong><i class="fas fa-code-branch"></i> FRAMEWORK USED</strong> 
                            {{ custom.report.desc }}  
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>